<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	Show List<br>
	<% if @user.user_shows.any? %>
		<% @user.user_shows.each do |show| %>
			<li>
				<%= link_to show.title, user_show_path(show.id) %>
				<%= link_to 'remove', user_show_path(show.id), method: :delete, data: {confirm: 'You sure?'} %>
			</li>
		<% end %>
	<% end %>
	<br><%= link_to 'Add a new show!', new_tv_show_path(user: @user.id) %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
